<div class="navigation">
  <a href="{{ site.url }}/">
    <img class="nav-logo" alt="Moreto it" src="{{site.url}}/assets/img/logo.png"/>
  </a>

  <div class="menu">
    <a class="page-link" href="{{ site.url }}/about">
      About
    </a>
    <a class="page-link" href="{{ site.url }}/contact">
      Contact
    </a>
    <a class="page-link" href="{{ site.url }}/stories">
      Stories
    </a>
    <!-- <a class="page-link" href="{{ site.url }}/subscribe">
      Subscribe
    </a> -->
    <a class="page-link" href="https://www.youtube.com/channel/{{ site.youtube | escape }}" target="_blank">
      YouTube
    </a>
    <a class="page-link" href="https://www.instagram.com/{{ site.instagram | escape }}" target="_blank">
      Instagram
    </a>
  </div>
</div>
