<div class="navigation">
  {% assign default_paths = site.pages | map: "path" %}
  {% assign page_paths = site.header_pages | default: default_paths %}

  <h1 class="nav-title">MoreTo It</h1>

  <div class="menu">
    <a class="page-link" href="{{site.baseurl}}/about">
      About
    </a>
    <a class="page-link" href="{{site.baseurl}}/contact">
      Contact
    </a>
    <a class="page-link" href="{{site.baseurl}}/stories">
      Stories
    </a>
    <a class="page-link" href="{{site.baseurl}}/subscribe">
      Subscribe
    </a>
    <a class="page-link" href="https://www.youtube.com/channel/{{ site.youtube | escape }}" target="_blank">
      YouTube
    </a>
    <a class="page-link" href="https://www.instagram.com/{{ site.instagram | escape }}" target="_blank">
      Instagram
    </a>
  </div>

</div>
