---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

a {
  text-transform: uppercase;
}

h1 {
  font-family: 'Poiret One', cursive;
  font-size: 65px;
}

h2, h3, h4 {
  font-family: 'Quicksand', sans-serif;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

div, p, a {
  font-family: 'Questrial', sans-serif;
  font-size: 18px;
}

.page-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 0;
  position: absolute;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto 24px;
  padding: 0;
  width: 100%;
}

.wrapper::after {
  display: none;
}

.content {
  flex: 1;
  flex-grow: 1;
  min-height: 248px;
}

.navigation {
  align-self: center;
  flex-grow: 0;
  margin-right: 64px;
}

.nav-title {
  font-weight: 600;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.nav-logo {
  margin-bottom: 16px;
  width: 200px;
}

.menu {
  text-align: right;
}

.page-link {
  color: black;
  display: block;
  margin: 8px 0;
}

.page-link:visited {
  color: black;
}

.page-title,
.post-title {
  text-transform: lowercase;
}

.home-video {
}

.archive-post-container {
  display: flex;
  flex-wrap: wrap;
}

.archive-post-link,
.archive-post-link:hover,
.archive-post-link:visited {
  color: white;
  text-decoration: none;
  text-transform: none;
}

.archive-post-thumbnail {
  align-items: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding: 16px;
  max-height: 360px;
  min-height: 240px;
  width: 240px;
}

.archive-post-title {
  max-height: 3.6em;
  line-height: 1.2em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}